*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.slider-container{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}

.slider-container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(45deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7));
}

.slider-container > div{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.slider-container > div > div{
	overflow: hidden;
	box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.62);
}

.slider{
	width: 800px;
	display: grid;
	grid-template-columns: repeat(7, 100%);
	height: 450px;
}

.img{
	position: relative;
	overflow: hidden;
}

.img img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.content{
	position:absolute;
	z-index: 999;
	width: 800px;
	height: 450px;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.btn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 1rem 1.2rem;
	border-radius: 5px;
	background: #ddd;
	border: none;
	outline: none;
	cursor: pointer;
	opacity: 0.5;
	transition: .3s;
}

.btn:hover{
	opacity: 0.8;
}

#prev{
	left: 5%;
}

#next{
	right: 5%;
}

ul{
	position: absolute;
	list-style: none;
	display: flex;
	bottom: 2%;
	left: 50%;
	transform: translateX(-50%);
}

ul li{
	margin: .3rem;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: 2.5px solid #2ecc71;
	cursor: pointer;
}

ul li.colored{
	background-color: #2ecc71;
}

.content:before{
	content: '';
	position: absolute;
	height: 17%;
	width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.background{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.background .bg{
	position: absolute;
	width: 120%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1.2);
	opacity: 0;
	transition: .5s;
}

.bg.show{
	opacity: 1;
}